.container {
  width: 80%;
  margin: 50px auto;
}

Button {
  margin-bottom: 50px;
}

.card {
  border: none;
}

.ant-card-head-title {
  font-size: 3vh;
}

.ant-card-body {
  padding: 0
}

table {
  margin: 0;
  width: 100% !important;
}

tr {
  border-bottom: 1px solid #eee;
}

p {
  margin: 20px 20px;
  font-size: 2vh;
}